*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-green-200: hsl(148, 38%, 91%);
  --primary-green-600: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-500: hsl(186, 15%, 59%);
  --neutral-grey-900: hsl(187, 24%, 22%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Karla", sans-serif;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-green-200);
}

.container {
  background-color: var(--primary-green-200);
  display: flex;
  height: auto;
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 20px;
  color: var(--neutral-grey-900);
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-white);
  margin-top: 120px;
  margin-bottom: 60px;
  width: 50vw;
  border-radius: 12px;
  padding: 20px 20px 40px 20px;
  overflow: auto;
}

form {
  margin: 0 20px;
}

.error {
  color: var(--primary-red);
  display: none;
  font-size: 11px;
  position: absolute;
  bottom: -10px;
}

label {
  font-size: 16px;
  color: var(--neutral-grey-900);
  display: inline-block;
}

label::after {
  content: "  *";
  color: var(--primary-green-600);
}

.name-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#first-name {
  margin-right: 10px;
}
.form-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 25px 0;
  position: relative;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid var(--neutral-grey-500);
  height: 45px;
  padding: 12px;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-error {
  border: 1.5px solid var(--primary-red);
}

.input:hover {
  border: 1.5px solid var(--primary-green-600);
}

.radio-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0px;
  /* border: 2px solid purple; */
}

.radio-option {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1.5px solid var(--neutral-grey-500);
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-option:focus-within {
  background-color: var(--primary-green-200);
}

.radio-option input[type="radio"]:checked {
  accent-color: var(--primary-green-600);
}

.radio-option input[type="radio"] {
  margin-right: 10px;
  margin-left: 10px;
}

.radio-option:hover {
  border: 1.5px solid var(--primary-green-600);
}

textarea {
  border-radius: 5px;
  border: 1.5px solid var(--neutral-grey-500);
  outline: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea:hover {
  border: 1.5px solid var(--primary-green-600);
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container input {
  cursor: pointer;
}

.checkbox-container label {
  margin-top: 0px;
  padding: 10px 0px;
}

button {
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  background-color: var(--primary-green-600);
  border-radius: 5px;
  border: none;
  color: var(--neutral-white);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--neutral-grey-900);
}

.success-container {
  background-color: var(--neutral-grey-900);
  color: var(--neutral-white);
  display: none;
  flex-direction: column;
  margin-top: 10px;
  width: 30vw;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.success-message-title {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  font-weight: 700;
}

#success-message {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .form-container {
    margin-top: 20px;
    width: 90vw;
    padding: 5px 5px 10px 5px;
  }

  .name-container,
  .radio-group {
    flex-direction: column;
  }

  .name-container,
  .radio-group {
    gap: 0px;
  }

  .input,
  .radio-option {
    margin-bottom: 0;
  }

  .error {
    bottom: -15px;
  }

  .success-container {
    width: 90vw;
    display: none;
  }
}
